*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./img/events-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* HEADER 1 */
.header1{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    color: white;
}
.leftside{
    display: flex;
    gap: 20px;
}
.rightside{
    display: flex;
    gap: 20px;
}
.rightside p{
    border: 1px solid black;
    padding: 3px 5px;
    background-color: goldenrod;
    color: white;
    border-radius: 3px;
}
/* HEADER 2 */
.caf{
    display: flex;
    gap: 10px;
    justify-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
}
.food{
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 2px 5px;
}
.cantain{
    border: 1px solid white;
    background-color: goldenrod;
    color: black;
    padding: 2px 5px;
}
.search{
    border: 1px solid transparent;
    padding: 10px;
    font-size: 20px;
    outline: none;
}
#search{
    color: gray;
    font-size: 20px;
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    position: relative;
    right: 8px;
}
.reg{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 60px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.reg a{
    text-decoration: none;
    color: whitesmoke;
}
/* NAVBER */
.nav{
    border: 1px solid transparent;
    padding: 20px 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.534);
}
.nav div{
    display: flex;
    justify-content: space-around;
    color: white;
}
.nav div a{
    cursor: pointer;
}
.link a{
    text-decoration: none;
    color: white;
}
.myaccount{
    color: white;
    background-color: red;
    display: none;
}
 